.user-avatar {
    display: flex;
    align-items: center;
    gap: 16px;

    img {
        border-radius: 50%;

        width: 32px;
        height: 32px;
        object-fit: cover;
    }


    &:hover {
        p {
            text-decoration: underline;
        }
    }
}